@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1E2351;
  background: #EFEFEF;
}

h1{
  font-size: 40px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #D9D9D9;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #1E2351;
}

#underline{
  animation: grow 0.1s ;
}
#underline2{
  animation: grow 0.1s ;
}
#underline3{
  animation: grow 0.1s ;
}
#underline4{
  animation: grow 0.1s ;
}

#editar_conta:hover{
  transition: all ease-in-out 0.1s;
  color: white;
  border: none;
  background-color: #A78CDC;
}

@keyframes grow{
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

#slider{
  transition: all ease-in-out 0.1s;
}

#opcao:checked + #slider{
  margin-left: 40px;
}

#opcao:checked ~ #switch_color{
  background-color: #9767F8;
}

#on{
  opacity: 0;
}

#on:hover{
  opacity: 1;
}

#pop:hover + #backdrop{
  display: block;
}

#pop2:hover + #backdrop{
  display: block;
}