/* @media(max-width:1090px) {
    .login{
        width: 85%;
    }

    .logincontainer{
        flex-direction: column;
    }

    .loginimage{
        width: 45%;
    } 


} */

/* .digite{
    height: clamp(2.5rem, 2vw + 1rem, 3.75rem);
    font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
}

.loginbotao{
    padding-top: clamp(0.1rem, 2vw + 1rem, 0.625rem);
    padding-bottom: clamp(0.1rem, 2vw + 1rem, 0.625rem);
}

.loginbotao{
    font-size: clamp(0.5rem, 2vw + 1rem, 1.25rem);
}

.entrar{
    font-size: clamp(2rem, 2vw + 1rem, 3.75rem);
}

.bemvindo{
    font-size: clamp(1rem, 2vw + 1rem, 1.625rem);
} */